body{
  background-color: #fce4b7;
  font-family: 'Overpass', sans-serif;
  font-size: 2rem;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 320px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

#logo {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  width: 70%;
}

#story-name{
  margin: auto;
}

.title {
  word-break: keep-all;
  text-align: center;
  color: rgb(179, 162, 11);
  text-decoration: line-through;
  font-size: 3rem;
}
/* The navigation menu links */
.sidenav a {
  text-align: center;
  padding-bottom: 1rem;
  text-decoration: none;
  font-size: 2rem;
  color: #c7a6a6;
  display: block;
}

.header {
  padding-left: auto;
  padding-top: 2rem;
  text-align: center;
  background:  #be9b58;
  color: black;
  font-size: 30px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 320px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}
.row {
  display: flex;
}
.column {
  float: left;
  visibility: hidden;
  width: 33.33%;
}
.story-image {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.story-title {
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  font-style: italic;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#stories {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 0;
  color: rgb(126, 115, 15);
}

.column {
  flex: 50%;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450) {
  .sidenav {padding-top: 15px;
    width: 200px;
  }
  .sidenav a {font-size: 18px;}
  .main{margin-left: 200px}
}